body {

    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}



/* ----------------------------------------------------------------------------------------------------------- */
/* ToDo carousel */


#carousel {
    background-color: darkturquoise;
    display: flex;
    height: 210px;
}

#images {
    /* background-color:aliceblue; */
    display: flex;
    flex: 1;
    height: 180px;
    align-items: center;
    align-content: center;
}

#rightBTN,
#leftBTN {
    height: 180px;
    background-color: rgba(0, 206, 209, 90);
    border: unset
}

#leftBTN {
    
    align-self: flex-end;
}


/* .images{
    flex: 1;
    height: 190px;
} */

.hidden {
    display: none;
}

#img1,
#img2,
#img3,
#img4,
#img5 {

    flex: 1;
    height: 180px;

}

#left,
#right {
    flex: 2;
    width: 100px;
    height: 200px;
    /* background-color: deepskyblue; */
}

#left {
    align-items: end;
}

#play_pause {
    background-color: rgba(0, 206, 209, 90);   
    border: unset;
    /* font-size: medium; */
    height: 10px;
    /* margin-top: 1px; */
    padding-top: 10px;
    /* z-index: 1; */
}

#playPause{
    background-color: rgba(0, 206, 209, 90);   
    border: unset;
    font-size: smaller;
    height: 15px;
    margin-top: 1px;
  
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ToDo section */
#task {
    display: flex;
    height: 60vh;
    background-image: url('./Images/ToDoLists.jpg');

}


#inputArea {
    padding: 5px;
    margin: 5px;
    flex: 1;

    width: 100px;
    /* align-items: center; */
    /* justify-items: center; */
}

#list {
    flex: 4;
    /* margin: 10px;
    padding: 10px; */
    box-sizing: border-box;

}

table {
    margin: 10px;
}

table,
th,
td {
    border: 0.5px solid black;
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 1px;
    text-align: center;
}

th {
    height: 20px;
}


.inputDate {
    width: 92px;
    /* height: 20px; */
}

.dueDate {
    width: 91px;
}

.task {

    width: 200px;

}


.completnes {
    align-items: center;
    align-content: center;
    justify-content: center;

    width: 50px;
}